<table>
  <tr>
    <th>Roll No</th>
    <th>Name</th>
    <th>Maths</th>
    <th>Science</th>
    <th>History</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let student of studentservice.student_list">
    <td>{{ student.rollno }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.maths }}</td>
    <td>{{ student.science }}</td>
    <td>{{ student.history }}</td>
    <td><input type="button" value="Update" (click)="onupdateclick(student.rollno)"> | <input type="submit" value="Delete" (click)="ondelete()"></td>
  </tr>
</table>
